/*General styles*/
html{min-height: 100vh; width: 100%;}
body{margin: 0px; font-family: 'Work Sans', sans-serif; overscroll-behavior-y: contain; overflow: hidden; background: #E8EAEE;}
.hidden{display:none !important;}
.disabled{pointer-events: none !important;}
::-webkit-scrollbar {width: 0px;}
.navBtn{width: 50px; height: 50px;}
.header{display: flex; background: #4281A4;}

#appRoot{position: relative; height: 100%;}
  #pageContainer{height: 100%; display: flex; flex-direction: column; background: white; width: 100%;}
    #pageContent{padding: 8px; overflow-y: scroll; max-width: 640px; position: relative; left: 50%; transform: translateX(-50%); height: 100%;}

.lightBoxContainer.closed{display: none !important;}
.lightBoxContainer.open{display: block !important;}
  .lightBoxBackground{position: absolute; background: black; z-index: 3; opacity: .6; width: 100%; height: 100%;}
  .lightBox{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); background: #4281A4; border: 1px solid black; width: 80%; max-width: 640px; padding: 10px; z-index: 4;}
    .lightBox .lightboxText{margin-bottom: 10px;}
    .lightBoxButtons{display: flex; justify-content: space-around;}
      .lightboxBtn{padding: 5px; background: #B2FFA9; border:1px solid; border-radius: 5px;}


/**view styles***/
mealList{z-index: 1; position: absolute;}
mealList #mealListHeader{ justify-content: space-between;}
mealList #toMealEdit {transform: rotate(180deg);}
mealList #mealList{display: flex; flex-wrap: wrap; justify-content: space-between;}
mealList .mealListItem{border: 1px solid; border-radius: 3px; min-width: 100px; min-height: 35px; margin: 5px 0; padding: 5px; display: flex; align-items: center; width: 45%; background:#B2FFA9;}
mealList #explainationText div{margin: 5px 0 20px 0; font-size: 1.5em; padding:5px;}


mealEdit{z-index: 2; position: fixed;}
mealEdit#pageContainer{display: flex; flex-direction: column; height: 100%;}
mealEdit #mealEditHeader{justify-content: space-between;}
mealEdit #pageContent{display: flex; flex-direction: column; justify-content: space-evenly; height: 100%;}
mealEdit .pageSection:first-child{height: 20px !important;}
mealEdit .pageSection:nth-child(2), mealEdit .pageSection:nth-child(3){height: 50%; border-top: 1px solid;}
mealEdit .pageSection {margin: 5px;}
mealEdit textarea{resize: none; width: 100%; height: 100%; padding:5px; border:none; overflow-y: scroll;}
mealEdit textarea:focus{outline: none;}


mealPlan{z-index: 2; position: fixed;}
mealPlan #mealPlanHeader{justify-content: space-between;}
mealPlan #toMealList {transform: rotate(180deg);}
mealPlan #toShoppingList{position: absolute; bottom: 5px; left: 5px; border-radius: 30px; border: 1px solid; z-index: 2;}
mealPlan .mealDay{position: relative; display: flex; border: 1px solid; border-radius: 6px; padding: 10px; width: 65%; margin: 18px 0px; font-size: 1em; left: 50%; transform: translateX(-50%); background:#B2FFA9;}
mealPlan .mealDay.checked{color: grey !important; border: 1px solid grey !important; background: lightgrey!important;}
mealPlan .mealCheck{width: 28px; position: absolute; left: -12px; top: -12px; border: 1px solid; border-radius: 20px; background: white;}
mealPlan .mealNumber{border-right: 1px solid; padding: 0 10px 0 10px;}
mealPlan .mealName{margin-left: 20px;}


shoppingList{z-index: 3; position: fixed;}
shoppingList #shoppingListHeader{justify-content: end;}
shoppingList #toMealPlan {transform: rotate(180deg);}
shoppingList .shoppingListMeal{margin: 10px; padding: 5px;}
shoppingList .nameContainer{border-bottom: 1px solid; display: flex; justify-content: space-between;}
shoppingList .mealName{font-size: 1.5em;}
shoppingList .mealRepeat{margin: 5px 0;}
shoppingList .mealIngredient{font-size: 1.2em; margin: 4px 0; padding: 2px 0; display: list-item; list-style-type: decimal; list-style-position: inside;}
shoppingList .mealIngredient.checked{text-decoration: line-through;}

loadingScreen{z-index: 2; position: fixed;}
loadingScreen #mealPlanHeader{justify-content: space-between;}
loadingScreen #toMealList {transform: rotate(180deg);}
loadingScreen #toShoppingList{position: absolute; bottom: 5px; left: 5px; border-radius: 30px; border: 1px solid; z-index: 2;}
loadingScreen #loadingImg{position: absolute; width: 100%; height: 100%; z-index: 2; background: white;}
loadingScreen #loadingImg img{position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%);}

/*Animations*/
.navInLeft{animation: navInLeft 0.2s; animation-fill-mode: forwards;}
@keyframes navInLeft {
  from {transform: translateX(-100%);}
  to {transform: translateX(0%);}
}


.navOutLeft{animation: navOutLeft 0.2s; animation-fill-mode: forwards;}
@keyframes navOutLeft {
  from {transform: translateX(0%);}
  to {transform: translateX(-100%);}
}


.navInRight{animation: navInRight 0.2s; animation-fill-mode: forwards;}
@keyframes navInRight {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}


.navOutRight{animation: navOutRight 0.2s; animation-fill-mode: forwards;}
@keyframes navOutRight {
  from {transform: translateX(0%);}
  to {transform: translateX(100%);}
}


/*font styles*/
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/WorkSans-VariableFont_wght.ttf) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/WorkSans-VariableFont_wght.ttf) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/WorkSans-VariableFont_wght.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
